<suite name="Orange HRM Suite" data-provider-thread-count="1">
    <test name="OrangeHRMTests">
        <parameter name="cucumber.filter.tags" value="(@smoke or @regression) and not (@ignore or @wip)"/>
        <classes>
            <class name="runner.TestRunner"/>
        </classes>
    </test>
</suite>